.container {
  max-width: 600px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 15px;
  color: #443f3f;
  font-weight: 600;
}

.input,
.textarea {
  padding: 11px;
  border: 1px solid #c4b6b6;
  font-size: 14px;
  background: white;
}

.input:focus,
.textarea:focus {
  outline-color: rgb(103, 103, 233);
  background: white;
}

.textarea {
  min-height: 90px;
  resize: vertical;
}

.button {
  margin-top: 10px;
  padding: 12px;
  border: 0px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.button:hover{
  background-color: rgb(9, 0, 90);
}